@media only screen and (min-width:0px) and (max-width:534px) {
    .no-result {
        background-size: 30vh
    }
}

@media only screen and (min-width:534px) and (max-width:1024px) {
    .no-result {
        background-size: 40vh
    }
}

@media only screen and (min-width:1024px) {
    .no-result {
        background-size: 50vh
    }
}

.no-result {
    background-image: url(/img/cat.png);
    background-position-x: left;
    background-position-y: bottom;
    background-repeat: no-repeat
}

html.no-result .search-button-wrap {
    margin-bottom: 0
}

.nores-message {
    text-align: center;
}