packages: 
    yum:
        jq: [] 

files:
    "/usr/local/bin/run_cron_channels_updater.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            source /opt/python/run/venv/bin/activate
            source /opt/python/current/env
            python /opt/python/current/app/data_parser/cron_channels_updater.py

    "/usr/local/bin/run_parser_tasks_handler.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            source /opt/python/run/venv/bin/activate
            source /opt/python/current/env
            python /opt/python/current/app/data_parser/parser_tasks_handler.py

    "/etc/cron.d/cron_data_parser":
        mode: "000644"
        owner: root
        group: root
        content: |
            # Start parser_tasks_handler every minute
            * * * * * root /usr/local/bin/run_parser_tasks_handler.sh
            # Start cron_channels_updater every midnight
            0 0 * * * root /usr/local/bin/run_cron_channels_updater.sh

commands:
    remove_old_scripts:
        command: "rm -f /etc/cron.d/cron_data_parser.bak && rm -f /usr/local/bin/run_cron_channels_updater.sh.bak && rm -f /usr/local/bin/run_parser_tasks_handler.sh.bak"