container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  02_compress:
    command: "source /opt/python/run/venv/bin/activate && python manage.py compress"

option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: spoketube/wsgi.py
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: spoketube.settings
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"

files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/django.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/app-logs/django.log