#toolbar {
    padding: 8px 10px;
    margin-bottom: 15px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #f8f8f8;
    color: #666;
}

#changelist-search {
    display: flex;
    flex-direction: row;
}

.actions {
height: 40px;
display: flex;
flex-direction: row;
align-items: center;
}

.search-input {
margin-left: 50px;
}

.search-results {
display: flex;
flex-direction: column;
}

td {
vertical-align: middle;
}

.button-details {
background: #79aec8;
padding: 10px 15px;
border: none;
border-radius: 4px;
cursor: pointer;
white-space: nowrap;
}

td .button-details {
color: #fff;
}

.colMS {
margin-right: unset;
}